.reg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../../assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.form{
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    backdrop-filter: blur(20px);
}

.log{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../../assets/bg_log.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}