.heroSwiper {
  width: 100%;
  height: 90vh;
}

.hero-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* Content on top of image */
.hero-content {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: white;
    padding-left: 8%;
    max-width: 600px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.hero-content button {
  padding: 12px 30px;
  background-color: #ff4d6d;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-content button:hover {
  background-color: #e63950;
}
