.main{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../../../assets/bg_password.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}